<h2><%= @handle.name %></h2>

<%= link_to "Add a public key", new_handle_key_path(handle_id: @handle.name) %>

<h3>Public Keys:</h3>
<% @handle.keys.each do |key| %>
  <%= link_to "view", handle_key_path(@handle.name, key) %>
  <pre><code><%= key.content %></code></pre>
<% end %>
