<h2>Claim</h2>
<pre><code><%= render "keys/claim", partial: true %></code></pre>
<h2>Proof</h2>
<pre><code><%= @proof.signature %></pre></code>
<h2>Verification</h2>
<pre><code><%= @proof.verification %></code></pre>
