/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  margin: 0;
  color: #333;
  line-height: 1.5;
 }

 pre{
  display: block;
  background: #121126;
  padding: 1em;
  color: #fff;
  border-radius: 5px;
  overflow: scroll;
  scrollbar-width: none;
  font-size: 1.1rem;

  font-family: Monaco, monospace;
 }

body {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

nav {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 1.5em 2em;
  flex-wrap: wrap;
  font-size:.9rem;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 1em 2em;
}

nav h1 {
  margin: 0;
  font-size: .9rem;
}
@media all and (max-width: 40em){
  nav, section {
    padding: .5em 1em;
  }
  nav h1 {
    margin-bottom: 1em;
  }
}

.flash.notice {
  border: 1px solid #BEE5EB;
  background: #D1ECF1;
  color: #0B5460;
  padding: 1em;
  border-radius: 5px;
}

.tabs label {
  padding: .5em 1em;
  display: inline-block;
  cursor: pointer;
  font-size: .8rem;
}
.tabs input[type="radio"]{
  display: none;
}
.tabs-content {
  border-top: 1px solid #ebebeb;
}
.tabs-content > div {
  display: none;
}
input:nth-of-type(1):checked ~ .tabs-content > div:nth-of-type(1),
input:nth-of-type(2):checked ~ .tabs-content > div:nth-of-type(2){
  display: block;
}
input:checked + label {
  border-bottom: 3px solid #551A8B;
  margin-bottom: -2px;
}
hr {
  border: none;
  margin: 3em 0;
  border-bottom: 1px solid #ebebeb;
}
a.btn {
  display: inline-block;
  padding: .5em 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-decoration: none;
  color: inherit;
  box-shadow: 2px 2px 2px #f0f0f0;
  font-size: .9rem;
}
a.btn:hover {
  background: #f9f9f9;
}
