/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
  margin: 0;
 }

 pre{
  display: block;
  background: #ebebeb;
  padding: .5em;
  border-radius: 3px;
  border: 1px solid #ccc;
  overflow: scroll;
  scrollbar-width: none;
 }

body {
  font-family: sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

nav {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em 2em;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 1em 2em;
}

nav h1 {
  margin: 0;
  font-size: 1rem;
}
@media all and (max-width: 40em){
  nav, section {
    padding: .5em 1em;
  }
  nav h1 {
    margin-bottom: 1em;
  }
}

.flash.notice {
  border: 1px solid #BEE5EB;
  background: #D1ECF1;
  color: #0B5460;
  padding: 1em;
  border-radius: 5px;
}
